<div>
	<h1>Welcome</h1>
	<div class="search-wrapper">
		<form 
		[formGroup]="mySearch"
		(ngSubmit)="onSearch()">
			<input
				formControlName="search"
				placeholder="Search artists name"
				type="text"
				class="search" />
			<input 
				formControlName="range"
				type="number">
			<button type="submit">Search</button>
		</form>
		My Form: {{mySearch.valid}}
	</div>
	<div class="list-wrapper">
		<app-card-holder 
			title="My Top Artists"
			[dataSet]="topArtists">
		</app-card-holder>
	</div>
	<div class="list-wrapper">
		<app-card-holder 
			title="My Playlists"
			[dataSet]="myPlaylists"
			[canNavigate]="!!false">
		</app-card-holder>
	</div>
</div>